{% load staticfiles %}
{% load tags %}
{% load cart_count %}
<!DOCTYPE html>
<html lang="ru" class="no-js">
	<head>
		<meta charset="utf-8">
		<title>Флорентина</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="robots" content="index, follow">
        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'js/custombox/custombox.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'js/jquery-selectBox/jquery.selectBox.css' %}"></link>
        <link rel="stylesheet" type="text/css" href="{% static 'js/tooltipster/css/tooltipster.css' %}"></link>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	</head>
	<body>
		<header>
			<div class="line">
				<div class="inner clearfix">
					<div class="rightside">
                        {% if not user.is_anonymous %}
                            <ul class="signed">
                                <li>
                                    <a href="/cart/">
                                        <span class="ico bask"></span>Корзина
                                        <span class="counter">{% cart_count request.session.cart_id %}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/accounts/profile/">
                                        <span class="ico prof"></span>Профиль<span class="arr"></span>
                                    </a>
                                    <ul>
                                        <li><a href="/favourites/"><span class="ico fav"></span>Избранное</a></li>
                                        <li><a href="/accounts/profile/"><span class="ico set"></span>Настройки</a></li>
                                        <li><a href="/accounts/logout/"><span class="ico exit"></span>Выход</a></li>
                                    </ul>								
                                </li>
                            </ul>
                          {% else %}
                            <ul>
                                <li><a class="signup" href="#signup"><span class="ico reg"></span>Регистрация</a></li>
                                <li><a class="signin" href="#signin"><span class="ico auth"></span>Вход</a></li>
                            </ul>
                          {% endif %}
					</div>
					<nav>
                        {% load flatpages %}
                        {% get_flatpages as flatpages %}
						<ul>
                            {% for page in flatpages %} 
                            <li><a href="{{page.url}}">{{ page.title }}</a></li>
                            {% endfor %}
						</ul>
					</nav>
				</div>
			</div>
			<div class="middle">
				<div class="inner clearfix">
					<div class="logo"><a href="/"><strong>Флорентина</strong> оптовый отдел</a></div>
					<div class="contacts">
						<div class="phones">
							<span>8 (8552)</span>
							33-01-30<br/>
							33-07-12
						</div>
						<div class="work_time">
							<span>ежедневно</span>
							с 9: 00<br/>
							до 17: 00
						</div>
					</div>
					<div class="search">
						<form action="#">
							<input type="text" placeholder="поиск" />
							<input type="submit" value="" />
						</form>
					</div>
				</div>
			</div>
			<div class="bottom">
                {% show_categories %}
			</div>
		</header>
