<div class="modal form_modal" id="signin">
<form action="/accounts/login/" method="post" >
    {% csrf_token %}
    <h3>Вход</h3>
    <div class="form_fields">
        <div class="usr">
            <input type="text" name="email" placeholder="Логин">
        </div>
        <div class="pass">
            <input type="password" name="password" placeholder="Пароль">
        </div>
    </div>
    <div>
        <a href="#">Забыли пароль?</a>
        <div class="buy">
            <button type="submit">Отправить</button>
        </div>
    </div>
    </form>
</div>
