@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsansbold-webfont.eot');
    src: url('../fonts/ptsansbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ptsansbold-webfont.woff2') format('woff2'),
         url('../fonts/ptsansbold-webfont.woff') format('woff'),
         url('../fonts/ptsansbold-webfont.ttf') format('truetype'),
         url('../fonts/ptsansbold-webfont.svg#pt_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/ptsansregular-webfont.eot');
    src: url('../fonts/ptsansregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ptsansregular-webfont.woff2') format('woff2'),
         url('../fonts/ptsansregular-webfont.woff') format('woff'),
         url('../fonts/ptsansregular-webfont.ttf') format('truetype'),
         url('../fonts/ptsansregular-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import url(https://fonts.googleapis.com/css?family=PT+Serif&subset=latin,cyrillic);

.clearfix:after, .clearfix:before{
	content:"";
	display:table;
}
.clearfix:after{
	clear:both;
}
html, body{
	height:100%;
	min-height:100%;
	height:auto;
	min-width:980px;
}
body{
	color:#4d454f;
	font:normal 16px/1.4 'PT Sans', sans-serif;
	background:#fbf7f7;
	position:relative;
}

h1, h2, h3{
	color:#4d454f;
	font:normal 30px/1.5 'PT Serif', serif;
	text-align:center;
	background:url(../images/title_bg.png) no-repeat center center;
	padding: 0 290px;
	margin: 0 0 26px 0;
}

p{
	margin:0 0 10px 0;
}

a{
	color:#803973;
	text-decoration:underline;
}
a:hover{
	color:#800d39;
}
a:visited{
	color:#ca376f;
}

input[type=text],
input[type=password],
input[type=email],
textarea{
	border:1px solid #d2cfcb;
	height: 37px;
	outline: none;
}

.inner{
	width:940px;
	padding:0 20px;
	margin:0 auto;
}

.line{
	background:#66287a;
	color:#fff;
	box-shadow:0 2px 6px 0 rgba(0,0,0,0.4);
}

.line a{
	color:inherit;
	text-decoration:none;
}

.line .active a, .line a:hover{
	color:#b7b4b8;
}

nav ul, .line ul{
	list-style:none;
	margin:0;
	padding:0;
}

nav ul, .line ul{line-height:0; font-size:0;}
nav ul li, .line ul li{display:inline-block; font:normal 16px/1.4 'PT Sans', sans-serif;}

.ico{
	display:inline-block;
	vertical-align:middle;
	width:18px;
	height:18px;
}

.ico.reg{
	background:url(../images/reg.png) no-repeat;
	margin:0 10px 0 0;
}
.ico.auth{
	background:url(../images/auth.png) no-repeat;
	margin:0 9px 0 0;
}
.ico.bask{
	width:21px;
	height:19px;
	background:url(../images/basket_ico.png) no-repeat;	
	margin: -3px 12px 0 0;
}
.ico.prof{
	background:url(../images/profile_ico.png) no-repeat;
	margin: -2px 9px 0 0px;
}
.ico.fav{
	background:url(../images/favorite.png) no-repeat;
}
.ico.set{
	background:url(../images/settings_ico.png) no-repeat;
}
.ico.exit{
	background:url(../images/exit_ico.png) no-repeat;
}
header{
	background:url(../images/header_bg.png) no-repeat center 0;
	height:253px;
}
.logo{float:left;}
.logo a{
	display:block;
	padding: 25px 0 0 60px;
	height:87px;
	background:url(../images/logo.png) no-repeat;
	text-decoration:none;
	font-family:'PT Serif', serif;
	color:#4d454f;
	font-size:20px;
	text-align:right;
}
.logo a strong{color:#8839a2; font-size:39px; line-height:27px; font-family: 'PT Serif'; display:block;font-weight:normal;}
.rightside{float:right; margin:0 -20px 0 0;}
.rightside ul li a{
	line-height:48px;
	display:block;
	padding:0 21px 0 13px;
}
.rightside ul li a:hover{
	color:#fff;
	background:#a22c59;
}
.rightside ul.signed li a:hover, .rightside ul.signed li:hover a{
	color:#fff;
	background:#8839a2;
}
.rightside .arr{
	background: url(../images/profile_drop.png) no-repeat 0 center;
	display: inline-block;
	width: 13px;
	height: 48px;
	vertical-align: middle;
	margin:0 -10px 0 9px
}
.rightside ul li{
	position: relative;
}
.rightside ul li ul{
	display: none;
	background: #8839a2;
	position: absolute;
	z-index: 10;
	width: 100%;
	padding: 10px 0 25px 0;
}
.rightside ul li:hover ul{
	display: block;
}
.rightside ul li ul li{
	display: block;
}
.rightside ul li ul li a{
	line-height: 1.7;
	font-size: 14px;
}
.rightside ul li ul li a .ico{
	margin: 0 10px 0 0;
}
.counter{
	position: absolute;
	color:#4d454f;
	font-size: 9px;
	background: #f4e6eb;
	border-radius: 9px;
	display: block;
	width:17px;
	height: 17px;
	line-height: 21px;
	text-align: center;
	top:8px;
	left: 25px;
}
.content{
	position:relative;
	padding:70px 0 386px 0;
}
.line nav ul li{padding:0 21px;line-height:48px;}

.line nav ul li:first-child{padding:0 22px 0 0;}
.line nav ul li:last-child{padding:0 0 0 22px;}

.middle{
	padding:30px 0 5px;
}
/*SEARCH*/
.search{
	float:right;
	margin:32px -20px 0 0;
}
.search input[type=text]{
	border:none;
	background:#fff;
	margin:0;
	width:200px;
	height:43px;
	padding:0 40px 0 20px;
	outline:none;
	box-shadow:0 1px 2px 0 rgba(0,0,0,0.3);
}
.search input[type=submit]{
	border:none;
	display:block;
	padding:0;
	margin:0;
	width:39px;
	height:43px;
	background:url(../images/search_btn.png) no-repeat 0 12px;
	margin: -43px 0 0 221px;
    position: relative;
    outline:none;
}

header .contacts{
	font-size: 24px;
	line-height: 1.2;
}
header .contacts span{
	color:#4d454f;
	display: block;
	font-size: 15px;
	padding: 0 0 3px 0;
}

header .phones{
	float:left;
	background: url(../images/phone_ico.png) no-repeat 0 10px;
	padding: 6px 0 0 42px;
	margin: 0 0 0 75px;
}

header .work_time{
	float:left;
	background: url(../images/time_ico.png) no-repeat 0 9px;
	padding: 6px 0 0 42px;
	margin: 0 0 0 35px;
}

header .work_time span{
	font-size:17px;
}

.bottom{
	background:url(../images/nav_bg.png) no-repeat center 0;
	height:114px;
}

.bottom nav{
	width:940px;
	margin: 0 auto;
}
.bottom nav ul{padding:0 0 0 36px;}
.bottom nav ul li{
	background: url(../images/delimeter.png) no-repeat 0 center;
}
.bottom nav ul li:last-child:after{
	content: '';
	display: inline-block;
	vertical-align:top;
	height: 75px;
	width:2px;
	background: url(../images/delimeter.png) no-repeat 0 center;	
}
.bottom nav ul li a{
	padding:0 29px 0 30px;
	line-height:75px;
	font-size:20px;
	color:#4d454f;
	text-decoration:none;
	font-family: 'PT Serif';
}

.bottom nav ul li a:hover, .bottom nav .active a{
	color:#803973;
}

.content_wrapper{
	padding: 0 9px;
}

/* NEWS */
.news_item {margin:0 0 54px;}
.news_item .image{float:left; margin:0 22px 0 0; border:2px solid #f4eae2;}
.news_item .image img{display:block;}
.news_item .title{color:#4d454f; font-size: 20px; font-weight: bold; margin: 7px 0 0;}
.news_item .title a{color: inherit; text-decoration: none;}
.news_item .date{color:#66287a; background: url(../images/date_ico.png) no-repeat 0 2px; overflow: hidden; padding: 0 0 0 25px; margin: 5px 0;}
.more{float:right;}
.more a, .more button, .buy a, .buy button{
	border:none;
	padding: 0;
	margin: 0;
	font-weight:bold;
	display:inline-block;
	line-height:37px;
	text-transform:uppercase;
	color:#4d454f;
	font-size:12px;
	text-decoration:none;
	text-align:center;
	background:#f4eae2;
	width:145px;
	box-shadow:0px 1px 2px 0 rgba(0,0,0,0.3);
}
.news_list .news_item{padding: 0 0 35px 0; margin: 0 0 30px 0; border-bottom:1px dashed #e4ccb5;}

/* PRODUCTS */
.prod_list .prod:nth-child(4n){margin:0 0 40px 0;}
.prod_list_wrap{margin:0 0 55px 0;}
.prod_list_wrap .more{float:none;text-align:center;}
.prod{width:202px;height:270px;float:left;margin: 0 38px 40px 0; position: relative;}
.prod .favorite{position: absolute; top:10px; right: 10px;}

.prod .favorite button{display: block;border: none; background:url(../images/favorite.png) no-repeat; width:17px; height: 17px;padding: 0; margin: 0;}

.prod .favorite button:hover,
.prod .favorite.checked button{background-position: 0 -51px;}

.prod_inside{box-shadow:0 1px 1px 0 rgba(0,0,0,0.4); background: #fff; position: absolute; top:0; left:0; right:0; bottom: 0; transition:all 0.2s linear;}
.prod a{color:#4d454f;text-decoration:none;}
.prod .title{text-align:center;margin:0 10px;border-top:1px solid #eeebeb; font-size: 15px; padding: 7px 0px 0;}
.prod ul{margin:0;padding:0;list-style:none; font-size:0; line-height:0;}
.prod ul li{display:inline;font-size:14px;line-height:1.4;}
.prod ul li:after{content: '/';color:#c2c2c2;padding: 0 3px;}
.prod ul li:last-child:after{display: none;}
.prod img{display:block;}
.prod .buy, .prod .more, .prod .sizes{display:none;}
.prod .sizes{padding: 5px 20px 10px; text-align: center;}
.prod .sizes a{color:#c2c2c2; font-size:14px;}
.prod .sizes input{display: none;}
.prod .sizes label{cursor: pointer;color:#c2c2c2;}
.prod .sizes input:checked+label{color:#dcbb9d;}
.prod .sizes label:hover{color:#dcbb9d;}
.prod .buy{float:left;}
.prod .more{float:right;}
.prod .more{margin:0 -9px 0 0;}
.prod .buy{margin:0 0 0 -9px;}
.prod .more a, .prod .buy a, .prod .buy button{width:107px;}
.prod_all{margin:23px 0 0 0;}

.prod:hover .buy, .prod:hover .more, .prod:hover .sizes{display:block;}
.prod:hover .prod_inside{box-shadow:0 1px 11px -1px rgba(0,0,0,0.3); bottom: -82px;z-index: 3;}
footer{
	height:342px;
	background:#66287a;
	position:absolute;
	width:100%;
	bottom:0;
	color:#fff;
}

footer a{
	color:inherit;
	text-decoration:none;
}


footer ul{
	list-style:none;
	margin:0;
	padding:0;
}

footer nav{
	margin: 55px 0 50px;
	text-align: center;
}
footer nav a{
	text-transform: uppercase;
	font-size: 14px;
	color:inherit;
}
footer a:hover{
	color:#fff;
	text-decoration: underline;
}
footer nav a:visited{
	color:inherit;
}
footer nav ul li{
	padding: 0 23px 0 24px;
	position: relative;
}
footer nav ul li:after{
	content:"/";
	position: absolute;
	right: 0;
}
footer nav ul li:last-child:after{
	display: none;
}

footer .contacts{
	font-size: 14px;
}

footer .contacts > div{
	padding: 0 0 0 44px;
}

footer address{
	float:left;
	width:176px;
	font-style: normal;
	background: url(../images/address.png) no-repeat 2px 4px;
	padding: 0 0 0 46px;
	margin: 0 0 0 90px;
	line-height: 1.3;
}

footer .mails{
	float:right;
	width:256px;
	background: url(../images/mails.png) no-repeat 0 4px;
	line-height: 1.3;
}
footer .phones{
	margin: 0 360px 0 380px;
	background: url(../images/phones.png) no-repeat 2px 4px;
	line-height: 1.3;
}
.copy{text-align:center; margin: 50px 0 0; text-transform: uppercase; font-size: 13px;}

/*MODAL  width: 352px; */
.modal {
  display: none;
  width:496px;
  background: #fff;
}

.modal h3{
	padding: 0;
	color:#8839a2;
	font-size: 22px;
	background: url(../images/modal_title.png) no-repeat center;
}

.modal form{
	padding: 35px 72px;
}

.form_fields > div{
	margin: 0 0 10px 0;
}
.form_fields > div input{background-position: 10px center; width:280px; padding: 0 34px; line-height: 42px;}
.form_fields > div input:focus{padding: 0 34px; outline-offset:0;}

.modal a{float:left; color:#4d454f; font-size: 14px; margin: 9px 0 0 91px;}
.modal .buy{
	text-align: right;
	margin: 20px 0 0;
}

.errors{
	font-size: 14px;
	color:#fa3636;
	text-align: left;
}

.usr input{background: url(../images/usr_ico.png) no-repeat;}
.pass input{background: url(../images/pass_ico.png) no-repeat;}
.email input{background: url(../images/mail_ico.png) no-repeat;}
.phone input{background: url(../images/pho_ico.png) no-repeat;}
.org input{background: url(../images/org_ico.png) no-repeat;}

/* CATEGORY */
.sort ul, .sub_cat ul{list-style: none; margin: 0; padding: 0;}
.sort ul li:first-child{padding: 0 5px 0 0;}
.sub_cat ul li:first-child{margin: 0 5px 0 0;}
.sort li{display: inline; padding: 0 5px;}
.sort a{color:#8e898f; border-bottom:1px dashed #8e898f; text-decoration: none;}
.sort a:hover{color:#cda381; border-bottom: none;}
.sub_cat{margin: 20px 0 40px 0;}
.sub_cat ul{font-size: 0;line-height: 0;}
.sub_cat li{display: inline-block; font-size: 14px; margin: 0 5px;}
.sub_cat a{border:2px solid #f7f0ea; display: block; text-decoration: none; padding: 0 18px; line-height: 26px; color:#4d454f;}
.sub_cat a:hover{background:#f7f0ea;}
.sub_cat .active a, .sub_cat a:active{background:#f4eae2; border-color:#f4eae2;}
/* PRODUCT PAGE*/
.product{
	padding:0 9px;
}

.product .image{
	float:left;
	border:2px solid #f4eae2;
	margin:0 40px 0 0;
}
.product .image img{
	display:block;
}

.product .favorite{
	margin: 17px 0 0 0;
	float:right;
}

.product .favorite button,
.list_row .favorite button{
	width: auto;
	text-decoration:none;
	color:#4d454f;
	font-family:'PT Sans', serif;
	font-size:12px;
	border:none; 
	text-transform:uppercase;
	font-weight:bold;
	height:17px;
	display:block;
	background:url(../images/favorite.png) no-repeat 0 -34px;
	padding:2px 0 0 27px;
	outline: none;
}

.product .favorite button:hover,
.product .favorite button.checked,
.list_row .favorite button:hover,
.list_row .favorite.checked button
{
	background-position: 0 -51px;
}

.product .title{
	color:#4d454f;
	font-family:'PT Sans', serif;
	font-size:20px;
	font-weight:bold;
	margin: 9px 0 18px 0;
}
.product .description{
	margin:0 0 20px;
}
.product .buy_row{
	border-top:1px dashed #e4ccb5;
	border-bottom:1px dashed #e4ccb5;
	overflow:hidden;
	font-size:0;
	padding:20px 2px;
}

.product .buy_row select{
	width:172px;
	height:37px;
}

.product .buy_row input{
	width:113px;
	height:37px;
	padding: 0;
	margin: 0;
	text-align: center;
	outline: none;
	padding: 0 0 0 15px;
}
.numberfield{
	margin:0 46px 0 46px;
}
.product .buy_row button{
	width:156px;
	height:37px;
}

.product .buy_row .buy{
	display: inline-block;
}

.selectBox-dropdown .selectBox-arrow{
	width:39px;
	background: url(../images/arr.png) no-repeat center #f4eae2;
	border:none; 
}

.product .buy_row select, .product .buy_row .selectBox, .product .buy_row button, .product .buy_row input{
	border:none;
	border-radius:3px;
	font-size:16px;
	box-shadow:0px 1px 2px 0 rgba(0,0,0,0.3);
	vertical-align: top;
	background: #fff;
}

.product .info_block{
	background:url(../images/info_ico.png) no-repeat 0 20px;
	overflow:hidden;
	padding: 20px 0 0 40px;
}

.prod_list_wrap.siblings{
	padding:0 9px;
	margin: 32px 0 0 0;
	font-size: 18px;
}

.prod_list_wrap.siblings > .title{
	padding: 0 0 22px 0;
}

.prod_list_wrap.siblings .prod_list{
	border-top:1px dashed #e4ccb5;
	border-bottom:1px dashed #e4ccb5;
	padding:30px 0 0;
}

.prod_list_wrap.siblings .prod:hover .prod_inside{
	bottom:-42px;
}

.back{
	color:#4d454f;
	text-transform:uppercase;
	font-family:'PT Sans', serif;
	font-size:12px;
	font-weight:bold;
	background:url(../images/back_ico.png) no-repeat 0 0;
	padding:0 0 0 25px;
	margin:25px 0 0 0;
}
.back a{color:inherit; text-decoration:none;}

.pager ul {padding:0; margin:0;}
.pager ul li{display:inline-block;}
.pager ul li a{text-decoration:none;}

/* DATA LIST */

.data_list{
	border-bottom:1px dashed #e4ccb5;
}
.list_row{
	border-top:1px dashed #e4ccb5;
	font-size:0;
	line-height:0;
	padding: 20px 0;
}

.list_row > div{
	display:inline-block;
	vertical-align:top;
	font-size:16px;
	line-height:1.4;
	vertical-align: middle;
}

.list_row .image{
	border:2px solid #f4eae2;
	margin:0 20px 0 0;
}
.list_row img{
	display:block;
}
.list_row .info{
	cursor: pointer;
	background: url(../images/info_ico.png) no-repeat;
	width:22px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
}

.list_row .info_inner{
	
}
.list_row .title{
	font-size: 18px;
	margin: 30px 0 0;
}
.list_row .descr{
	width:440px;
}

.list_row .favorite{
	color:#4d454f;
	font-weight:bold;
	font-size: 12px;
	text-transform: uppercase; 
}

.list_row .favorite a{
	color:inherit;
	text-decoration:none;
	background: url(../images/)
}

.list_row input[type=number]{
	width:118px;
	height:40px;
	border:none;
	outline:none;
	font: inherit;
	text-align: center;
	padding: 0 0 0 10px;
}


.list_row .delete button{
	width:12px;
	height:12px;
	border:none;
	outline:none;
	background: url(../images/del.png) no-repeat;
	padding: 0;
	margin: 0;
}
.list_row .size{
	font-size: 14px;
}
.list_row .delete button:hover{
	background-position: 0 -12px;
}

.btn, .btn:visited{
	background: #f4eae2;
	color:#4d454f;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	display: inline-block;
	line-height: 37px;
	padding: 0 40px;
	border-radius: 3px;
    box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.3);
}
.btn a{
	color:inherit;
	text-decoration: none;
}
.btn_right{
	float:right;
}

.pager ul {font-size: 0; line-height: 0;}
.pager ul li{display: inline-block; font-size: 16px; font-weight: bold;}

.numberfield input{
	box-shadow:0px;

}
.numberfield{display: inline-block; position: relative; border-radius:3px;font-size:16px;box-shadow:0px 1px 2px 0 rgba(0,0,0,0.3); overflow: hidden; vertical-align: top;}
.numberfield .minus, .numberfield .plus{display: block; width:42px;height: 37px; background: #f4eae2; position: absolute; top:0; left: 0; background-image: url(../images/minus.png); background-repeat: no-repeat; background-position: center center;}
.numberfield .plus{right: 0; left: auto; background-image: url(../images/plus.png);}

.list_row .numberfield .minus,
.list_row .numberfield .plus{
	height: 40px;
}

/*SETTINGS*/
.settings{padding: 0 9px;}
.settings .image{float:left;margin:0 40px 0 0; box-shadow:0px 1px 2px 0 rgba(0,0,0,0.3);}
.settings .image img{display:block;}

.personal_information{width:542px; margin: 0 auto;}
.personal_information form > div{margin: 0 0 10px 0; font-size: 0; line-height: 0;}
.personal_information .more{margin:20px 0 0; float:none; text-align: right; font-size: 16px; line-height: 1.4;}
.personal_information label{
	color:#afaaae;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: normal;
	display: inline-block;
	text-align: left;
	background:#f4eae2;
	line-height: 40px;
	width:122px;
	padding: 0 0 0 20px;
	vertical-align: middle;
}
.personal_information input{
	border:none;
	vertical-align: middle;
	font-size: 16px;
	margin: 0;
	padding: 0 20px;
	width: 360px;
	height: 40px;
	border-radius: 3px;
    box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.3);
}

/**TOOLTIPS**/
.tooltipster-default{
	background:#ffffff;
	color:#4d454f;
	border:none;
	box-shadow:0px 0px 10px -1px rgba(0,0,0,0.2);
}

.tooltipster-default .tooltipster-content{
	padding: 20px 30px;
}
.tooltipster-arrow-bottom-left span{
	left: 0;
}
.tooltipster-arrow-bottom-left span{
	border-left:0 !important;
	border-right: 12px solid transparent !important;
    border-bottom: 12px solid;
}