{% include '_partials/header.html' %}
{% url 'cart:add' as cart_add_path %}
<div class="content">
    <div class="inner clearfix">
        <h1>{{ category }}</h1>
        <div class="content_wrapper">
            <div class="prod_list_wrap">
                <div class="filter">
                    <form>
                        <div class="sort">
                            <ul>
                                <li><span>Сортировать по:</span></li>
    <li>
        <a href="{% url 'flowers:index'%}?type={{type.name}}&category={{category.name}}&sorting=popularity">популярности</a>
    </li>
    <li>
        <a href="{% url 'flowers:index'%}?type={{type.name}}&category={{category.name}}&sorting=created">новинкам</a>
    </li>
                            </ul>
                        </div>
                        <div class="sub_cat">
                            <ul>
                                {% for t in category.type.all %}
            <li><a href="{% url 'flowers:index' %}?type={{t.name}}&category={{category.name}}">{{ t.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </form>
                </div>
                <div class="prod_list clearfix">
					{% for flower in flowers %}
						<div class="prod">
                            <div class="prod_inside">
                                <div class="favorite">
                                    <form>
                                        <button></button>
                                    </form>
                                </div>
                                <div class="image">
                                    <!-- sdelal hard code s razmerami TODO fix it -->
                                    <a href="#"><img width="200" height="200" src="{{ flower.img.url}}" /></a>
                                </div>
                                <div class="title"><a href="#">{{ flower.name }}</a></div>
                                <form class="buy_form" action={% url 'cart:add' %} method="post">
                                    <div class="sizes">
                                        <ul>
                                            {% for size in flower.size.all %}
                                            <li>
                                                <input type="radio"
                                                       name="size_id"
                                                       value="{{ size.id }}"
                                                       id="size_{{forloop.counter}}" />
                                                <label for="size_{{forloop.counter}}">{{ size.size }}</label>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="buy">
                                        {% csrf_token %}
                                        <input type="text" name="product_id" value="{{ flower.id }}" hidden />
                                        <input type="text" name="quantity" value="1" hidden/>
                                        <button type="submit">В корзину</button>
                                    </div>
                                </form>
                                <div class="more">
									<a href="{% url 'flowers:detail' flower.id %}">Подробнее</a>
								</div>
                            </div>
                        </div>
					{% endfor %}
				</div>
			</div>
            <div class="pager">
                <ul>
                    {% if flowers.has_previous %}
                    <li class="previous"></a>
<a href="{% url 'flowers:index'%}?page={{flowers.previous_page_number}}&type={{type.name}}&category={{category.name}}&sorting={{sorting}}">назад</a>
                    </li>
                    {% endif %}
                    {% for p in flowers.paginator.page_range %}
                        <li>
<a href="{% url 'flowers:index'%}?page={{p}}&type={{type.name}}&category={{category.name}}&sorting={{sorting}}">{{ p }}</a>
                        </li>
                    {% endfor %}
                    {% if flowers.has_next %}
                    <li class="next">
<a href="{% url 'flowers:index'%}?page={{flowers.next_page_number}}&type={{type.name}}&category={{category.name}}&sorting={{sorting}}">далее</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
		</div>
    </div>
</div>
{% include '_partials/footer.html' %}
