{% include '_partials/header.html' %}
{% url 'favourites:new' as favourites_new_path %}
{% url 'cart:add' as cart_add_path %}
<div class="content">
    <div class="inner clearfix">
        <h1>{{ flower.category.name }}</h1>
        <div class="product clearfix">
            <div class="image">
                <a href="#"><img width=326 height=396 src="{{ flower.img.url }}" /></a>
            </div>
            <div class="favorite">
                <form action="{{ favourites_new_path }}" method="POST">
                    {% csrf_token %}
                    <input type="text" hidden name="flower_id" value="{{ flower.id }}" />
                    <!-- todo: fix it! -->
                    <button>В избранное</button>
                </form>
            </div>
            <div class="title">{{ flower.name }}</div>
            <div class="description"><p>{{ flower.desc }}</p></div>
            <div class="buy_row">
                <form class="buy_form" action={% url 'cart:add' %} method="post">
                    {% csrf_token %}
                    <select name="size_id">
                        {% for size in flower.size.all %}
                            <option value="{{ size.id }}">{{ size.size }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" hidden name="product_id" value="{{ flower.id }}" />
                    <input type="number" min="1" value="1" name="quantity"/>
                    <div class="buy">
                        <button type="submit">В корзину</button>
                    </div>
                </form>
            </div>
            <div class="info_block"><p>{{ flower.info }}</p></div>
        </div>
        {% if flowers|length %}
        <div class="prod_list_wrap siblings">
            <div class="title">Другие товары из этого раздела:</div>
            <div class="prod_list clearfix">
                {% for f in flowers %}
                <div class="prod">
                    <div class="prod_inside">
                        <div class="favorite"><a href="#"></a></div>
                        <div class="image">
                            <!-- sdelal hard code s razmerami TODO fix it -->
                            <a href="#"><img width="200" height="200" src="{{ flower.img.url}}" /></a>
                        </div>
                        <div class="title"><a href="#">{{ flower.name }}</a></div>
                        <form action={% url 'cart:add' %} method="post">
                            <div class="buy">
                                {% csrf_token %}
                                <input type="text" name="product_id" value="{{ flower.id }}" hidden />
                                <input type="text" name="quantity" value="1" hidden/>
                                <button type="submit">В корзину</button>
                            </div>
                        </form>
                        <div class="more">
                            <a href="{% url 'flowers:detail' flower.id %}">Подробнее</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="back"><a href="{% url 'flowers:index' %}?category={{flower.category.name}}">Назад</a></div>
    </div>
</div>
{% include '_partials/footer.html' %}
