{% include "_partials/header.html" %}
<div class="content">
    <div class="inner clearfix">
        <section>
            <h1>Новости</h1>
            <div class="content_wrapper">
                {% for new in news %}
                <div class="news_item clearfix">
                    <div class="image"><a href="#"><img width="198" height="167" src="{{ new.img.url}}" /></a></div>
                    <div class="title"><a href="#">{{new.name}}</a></div>
                    <div class="date">{{new.date|date:"m.d.Y"}}</div>
                    <div class="descr">
                        {{new.desc}} 
                    </div>
                    <div class="more"><a href="{% url 'news:index' %}">Подробнее</a></div>
                </div>
                {% endfor %}
            </div>
        </section>

        {% for group, flower_list in flowers.viewitems %}
        <section>
            <h3>{{ group.name }}</h3>
                <div class="content_wrapper">
                    <div class="prod_list_wrap">
                        <div class="prod_list clearfix">
                        {% for flower in flower_list %}
                            <div class="prod">
                                <div class="prod_inside">
                                    <div class="favorite">
                                        <form>
                                            <button></button>
                                        </form>
                                    </div>
                                    <div class="image">
                                        <!-- sdelal hard code s razmerami TODO fix it -->
                                        <a href="#"><img width="200" height="200" src="{{ flower.img.url}}" /></a>
                                    </div>
                                    <div class="title"><a href="#">{{ flower.name }}</a></div>
                                    <form class="buy_form" action={% url 'cart:add' %} method="post">
                                        <div class="sizes">
                                            <ul>
                                                {% for size in flower.size.all %}
                                                <li>
                                                    <input type="radio"
                                                           name="size_id"
                                                           value="{{ size.id }}"
                                                           id="size_{{forloop.counter}}" />
                                                    <label for="size_{{forloop.counter}}">{{ size.size }}</label>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="buy">
                                            {% csrf_token %}
                                            <input type="text" name="product_id" value="{{ flower.id }}" hidden />
                                            <input type="text" name="quantity" value="1" hidden/>
                                            <button type="submit">В корзину</button>
                                        </div>
                                    </form>
                                    <div class="more">
										<a href="{% url 'flowers:detail' flower.id %}">Подробнее</a>
									</div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="more">
							<a href="{% url 'flowers:index' %}?category={{group.grouper.name}}">Подробнее</a>
						</div>
                    </div>
                </div>
            </section>
            {% endfor %}
    </div>  
</div>
{% include '_partials/footer.html' %}
