{% load staticfiles %}
		<footer>
			<div class="inner clearfix">
				<nav>
					<ul>
						<li><a href="#">О нас</a></li>
						<li><a href="#">Как сделать заказ</a></li>
						<li><a href="#">Оплата</a></li>
						<li><a href="#">Доставка</a></li>
						<li><a href="#">Филиалы</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</nav>
				<div class="contacts clearfix">
					<address>
						г.Набережные Челны ул.Низаметдинова 8 территория базы Прикамье
					</address>
					<div class="mails">
						<ul>
							<li><a href="mailto:florentina.upak@gmail.com">florentina.upak@gmail.com</a></li>
							<li><a href="mailto:florentina.upak@gmail.com">florentina.upak@gmail.com</a></li>
							<li><a href="mailto:florentina.upak@gmail.com">florentina.upak@gmail.com</a></li>
							<li><a href="mailto:florentina.upak@gmail.com">florentina.upak@gmail.com</a></li>
							<li><a href="mailto:florentina.upak@gmail.com">florentina.upak@gmail.com</a></li>
						</ul>
					</div>
					<div class="phones">
						<ul>
							<li>8 (8552) 33-01-30 (факс)</li>
							<li>8 (8552) 33-07-12</li>
							<li>+7 (917) 890-32-37</li>
							<li>+7 (906) 124-74-00</li>
							<li>+7 (917) 886-00-28</li>
						</ul>
					</div>
				</div>
				<div class="copy">2010 - 2015 &copy; Флорентина</div>
			</div>
		</footer>
		<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.placeholder.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/numberfield.js' %} "></script>
		<script type="text/javascript">
		</script>
	</body>
</html>
