<div class="modal form_modal" id="signup">
    <form>
	<button type="button" class="close" onclick="Custombox.close()">&times;</button>
    <h2>Регистрация</h2>
    <div>
        <div>
            <input type="text" placeholder="Фамилия Имя">
        </div>
        <div>
            <input type="text" placeholder="E-mail">
        </div>        
        <div>
            <input type="password" placeholder="Пароль">
        </div>
        <div>
            <input type="text" placeholder="Телефон">
        </div>
        <div>
            <input type="text" placeholder="Организация, магазин">
        </div>
    </div>
    <div>
        <button type="submit">Отправить</button>
    </div>
    </form>
</div>