<div class="modal form_modal" id="signup">
    <form>
        <h3>Регистрация</h3>
        <div class="form_fields">
            <div class="usr">
                <input type="text" placeholder="Фамилия Имя">
            </div>
            <div class="email">
                <input type="text" placeholder="E-mail">
            </div>        
            <div class="pass">
                <input type="password" placeholder="Пароль">
            </div>
            <div class="phone">
                <input type="text" placeholder="Телефон">
            </div>
            <div class="org">
                <input type="text" placeholder="Организация, магазин">
            </div>
        </div>
        <div class="buy">
            <button type="submit">Отправить</button>
        </div>
    </form>
</div>