{% url 'cart:add' as cart_add_path %}
<div>
    <h2>{{ category }}</h2>
    <h3>sorted by: {{ sorting }}</h3>
    {% for flower in flowers %}
    <ul>
        <li>id: {{ flower.id }} </li>
        <li>description: {{ flower.desc }} </li>
        <li>info: {{ flower.info }} </li>
        <li>category: {{ flower.category }} </li>
        <li>type: {{ flower.type }} </li>
        <li>created: {{ flower.created}} </li>
        <li>modified: {{ flower.modified}} </li>
        <li>image: 
            <a href="{{ flower.img.url}}">link to image</a>
        </li>
        <li>popularity: {{ flower.popularity }} </li>
    {% url 'flower:detail' flower.id as flower_detail_path %}
        <a href="{{ flower_detail_path }}">{{ flower.name }}</a>
        <form action="{{ cart_add_path }}" method="post">
            {% csrf_token %}
            <input type="text" 
                   name="product_id"
                   value="{{ flower.id }}" 
                   hidden />
            <input type="text" name="quantity" />
            <input type="submit" value="add to cart" />
        </form>
    </ul>
    {% endfor %}
</div>
