<div>
    {% regroup flowers|dictsort:"category" by category as flower_list %}
    <ul>
    {% for group in flower_list %}
        <li>{{ group.grouper }}</li>
        {% for flower in group.list %}
        <ul>
                <li>id: {{ flower.id }} </li>
                <li>description: {{ flower.desc }} </li>
                <li>info: {{ flower.info }} </li>
                <li>category: {{ flower.category }} </li>
                <li>type: {{ flower.type }} </li>
                <li>created: {{ flower.created}} </li>
                <li>modified: {{ flower.modified}} </li>
                <li>image: <a href="{{ flower.img.url}}">link to image</a></li>
        <form action={% url 'cart:add' %} method="post">
            {% csrf_token %}
            <input type="text" 
                    name="product_id"
                    value="{{ flower.id }}"
                    hidden />
            <input type="text" name="quantity" />
            <input type="submit">add to cart</input>
                   

            </form>
        </ul>
        {% endfor %}
    {% endfor %}
    </ul>
</div>
