{% include '_partials/header.html' %}
<div class="content">
    <div class="inner clearfix">
        <h1>Новости</h1>
        <div class="content_wrapper news_list">
            {% for new in news %}
            <div class="news_item clearfix">
                <div class="image"><a href="#"><img width="198" height="167" src="{{ new.img.url}}" /></a></div>
                <div class="title"><a href="#">{{new.name}}</a></div>
                <div class="date">{{new.date|date:"m.d.Y"}}</div>
                <div class="descr">
                    {{new.desc}} 
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include '_partials/footer.html' %}
