{% include '_partials/header.html' %}
<div class="content">
    <div class="inner clearfix">
        <h1>Настройки</h1>
				<div class="settings clearfix">
					<!-- <div class="image">
                            <a href="{{ user.img.url }}"><img src="{{ user.img.url }}" /></a>
                        </div>-->
					<div class="personal_information">
                        <form action="/accounts/profile/" method="POST" enctype='multipart/form-data'>
                            {% csrf_token %}
                            <div class="image">
                                <a href="{{ user.img.url }}"><img width="240"
                                    height="240" src="{{ user.img.url }}" /></a>
                                {{ form.img }}
                            </div>
							<div>
								<label>Фамилия</label>
                                {{ form.last_name }}
							</div>
							<div>
								<label>Имя</label>
                                {{ form.first_name }}
							</div>
							<div>
								<label>E-mail</label>
                                {{ form.email }}
							</div>
							<div>
								<label>Телефон</label>
                                {{ form.phone }}
							</div>
							<div>
								<label>Организация</label>
                                {{ form.company }}
							</div>
							<div>
								<button type="submit">Сохранить</button>
							</div>
						</form>
					</div>
				</div>
    </div>
{% include '_partials/footer.html' %}
